:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2424244b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th, .user-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

.user-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.user-list {
  border: 3px solid #000000;
}


.corner{
  width: 100%;
  background-color: #ffffff;
  top: 0;
  position: fixed;
  display: flex;
}

.logohome{
  margin-left: 0%;
}

.notifications{
  margin-left: 50%;
}

.setting{
  margin-left: 41%;
}

.login-area{
  min-width: 111.5vh;
  padding: 20%;
  background-color: #eb48636e;
}

.login-blocks {
  width: 30vh;
  padding: 10px;
  background-color: #81f6faa9;
  border: 1px solid #000000;
  
}


.user-block{
  padding: 5%;
  min-width: max-content;
  background-color: #70c5f7;
  border: 1px solid #000000;
  position: flex;
}

.profilename{
  width: 25vh;
  background-color: #ffffff;
  border: 1px solid #000000;
  color:#000000;
}

.email{
  color:#000000;
}

.description{
  height: 10vh;
  width: 15vh;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #000000;
  color:#000000;
}

.skill{
  height: 10vh;
  width: 15vh;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #000000;
  color:#000000;
}

.map{
  height: 10vh;
  width: 10vh;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #000000;
  color:#000000;
}

.company-block{
  padding: 10%;
  min-width: max-content;
  background-color: #b5df7ee5;
  border: 1px solid #000000;
  position: flex;
}

.company-logo-picture{
  background-color: #ffffff;
  border: 1px solid #000000;
}

.company-description{
  padding: 5%;
  min-height: 7vh;
  min-width: 15vh;
  background-color: #ffffffe5;
  border: 1px solid #000000;
  text-align: center;
  color: #000000;
}

.joblistings{
  text-align: center;
  background-color: #ffffffe5;
  color: #000000;
  border: 1px solid #000000;
}

.positions{
  height: 10vh;
  width: 10vh;
  background-color: #ffffffe5;
  color: #000000;
  border: 1px solid #000000;
}

.availability{
  height: 10vh;
  width: 10vh;
  background-color: #ffffffe5;
  color: #000000;
  border: 1px solid #000000;
}

.postbackground{
  padding: 10%;
  background-color: #ccc89fe5;
  position: flex;
}

.post{
  padding: 10%;
  min-width: max-content;
  background-color: #a79d45e5;
  border: 1px solid #000000;
  color: #000000;
  position: flex;
}

.postname{
  height: 5vh;
  width: 30vh;
  background-color: #ffffffe5;
  color: #000000;
  border: 1px solid #000000;
}

.postdate{
  height: 5vh;
  width: 30vh;
  background-color: #ffffffe5;
  color: #000000;
  border: 1px solid #000000;
}

.postdescription{
  height: 10vh;
  width: 30vh;
  background-color: #ffffffe5;
  color: #000000;
  border: 1px solid #000000;
}

.morepostinfo{
  height: 10vh;
  width: 30vh;
  background-color: #a5ee7ae5;
  color: #000000;
  border: 1px solid #000000;
}

.searchjobs{
  height: 5vh;
  width: 30vh;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  text-align: center;
}

.dm{
  padding: 10%;
  min-height: 50vh;
  min-width: 30vh;
  background-color: #98ddeec5;
  border: 1px solid #000000;
  color: #000000;
}

.dm-contact{
  background-color: #ffffffe5;
  border: 1px solid #000000;
}

.messagebar{
  background-color: #ffffffe5;
  border: 1px solid #000000;
}




