nav {
    
    /* display:flex; */
    background: linear-gradient(#CDFFD8, #94B9FF);
    /* background: linear-gradient(0.25turn, #cdffd8, #94b9ff); */
    padding: 10px 20px;
    /* size-adjust: 40px; */
    font-size: large;
    /* border-radius: 35px; */
    align-items: stretch;

    /* !!! Keeps Nav Bar without blank spaces at start/end */
    position: fixed;

    top: 0;
    left: 0;
    right: 0; 
    z-index: 100;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: flex;
    margin-right: 50px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  