nav {
    top: 0;
    left: 0; 
    display:flex;
    background: linear-gradient(#CDFFD8, #94B9FF);
    padding: 10px 20px;
    size-adjust: 40px;
    font-size: x-large;
    border-radius: 35px;
    align-items: stretch;

    z-index: 100;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: flex;
    margin-right: 50px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  