.background {
    background: linear-gradient(#94b9ff, #cdffd8);
    /* background: linear-gradient(#ffffff, #9cd6dde5, #94b9ff ); */
    
    height: auto;
    width: 100%;
    /* margin: auto; */

    position: absolute;
    left: 0%;
    top: 0%;

    margin: 0%;
    padding: 0%;
    
}

.background2 {
    background: darkblue;
    /* background: linear-gradient(#ffffff, #9cd6dde5, #94b9ff ); */
    
    height: auto;
    width: 100%;
    /* margin: auto; */

    position: absolute;
    left: 0%;
    top: 5%;

    margin: 0%;
    padding: 0%;
    
}

img.logo {
    display: flex;
    margin: 1% auto auto;

}
 
/* Create a new account */
.SignUp-title {
    text-align: center;

    font-size: x-large;
    font-weight: bolder;

    margin: 1% auto;
    margin-bottom: 1%;

    color: #1d00ab;
    
}

.divider {
    border-bottom: 2px solid #1d00ab;
    width: 70%;

    margin: auto;

  }  

.Email, .Password,
.Availability,
.Phone, .Skills, .Birthday,
.UsrType, .ProfilePicture {
    /* display: flex; */
    /* width: fit-content; */

    text-align: center;

    background: linear-gradient(.25turn, #cdffd8, #94b9ff);
    border-radius: 25px;

    padding: 10px 50px;
    height: auto;
    max-width: 50%;
    margin: 1% auto;
}

.UsrType {
    border-radius: 15px;
}

.fullName {
    column-count: 2;
    column-width: 200px;
    column-gap: 5%;

    text-align: center;

    background: linear-gradient(.25turn, #cdffd8, #94b9ff);
    border-radius: 25px;

    padding: 10px 50px;
    height: auto;
    width: 50%;
    margin: 1% auto;

}

.addBlock {
    container: grid;
    /* column-count: 2;
    column-width: 200px;
    column-gap: 5%; */

    text-align: center;

    background: linear-gradient(.25turn, #cdffd8, #94b9ff);
    border-radius: 25px;

    padding: 10px 50px;
    height: auto;
    width: 50%;
    margin: 1% auto;
}

.Availability {
    width: fit-content;
    overflow:auto;

    margin: auto;
    text-align: center;
    object-position: right;

    margin-bottom: 1%;
}


/* Formatting in regards to position & display */
.submit {
    display: flex;
    padding: 1% 2%;
    /* width: fit-content; */
    margin: auto;

}

.submit {
    background-color: #007bff;
    color: white;
    /* padding: 10px 20px; */
    border: none;
    border-radius: 4px;
    cursor: pointer;

    margin-bottom: 1%;
  }
  
  .submit:hover {
    background-color: #0056b3;
  }



